
<div *ngIf="usertracking">
    <h2><span>Usertracking</span> {{usertracking.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>User</span></dt>
        <dd>
            <span>{{usertracking.user}}</span>
        </dd>
        <dt><span>Route</span></dt>
        <dd>
            <span>{{usertracking.route}}</span>
        </dd>
        <dt><span>Restcall</span></dt>
        <dd>
            <span>{{usertracking.restcall}}</span>
        </dd>
        <dt><span>Timetamp</span></dt>
        <dd>
            <span>{{usertracking.timetamp | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'usertracking/'+ usertracking.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
